pandas==2.2.3
numpy==2.1.0
scikit-learn==1.5.2
imbalanced-learn==0.12.4
matplotlib==3.9.2
seaborn==0.13.2
fastapi==0.115.0
uvicorn==0.30.6
joblib==1.4.2
mlflow==3.1.0
evidently==0.4.33
pydantic==2.9.2
python-multipart==0.0.12